In [3]:
print("hey\"i am sarnalika\"")

hey"i am sarnalika"

In [1]:
f=open("task.txt","w")
print(f.read())

f=open("task.txt","r")

In [6]:
name=input("My name is:")
email=input("mail id:")
phone=input("number:")
def savedetails(name,email,phone):
    filename=open(name + ".txt","w")
    filename.write(f"My name  is sarnalika and my email is {email} and number is {phone}")
                   
          
    filename.close()

savedetails("task","emqai","12345678")

In [6]:
a=0
while a<7:
    res=a*a
    print(a)
    #print(res)
   # print(res*a)#print(res) for square #print(res*a) for cube of the elements
    a=a+1

0
1
2
3
4
5
6

In [12]:
for i in range (1,10,1):
    if i==7:
        break
    print(i)

1
2
3
4
5
6

In [32]:
for i in range (1,10,1):
    if i== 2:
        continue
    print(i)

1
2
3
4
5
6
7
8
9

In [34]:
listex =["ABC","ABC","CDF","ABC","EFD","BCD","NBG"]
setex =set(listex)
back=list(setex)
print(listex)
print(setex)
print(back)
print(type(listex))
print(type(setex))

['ABC', 'ABC', 'CDF', 'ABC', 'EFD', 'BCD', 'NBG']
{'NBG', 'EFD', 'ABC', 'BCD', 'CDF'}
['NBG', 'EFD', 'ABC', 'BCD', 'CDF']
<class 'list'>
<class 'set'>

CREATE A LIST OF 10 NAMES THAT ARE RANDOM AND REPEATING FROM USER IDENTIFY THE UNIQUE ITEMS AND THEIR COUNT

In [35]:
names =[]
for i in range (1,10,1):
    name=input("enter the name")
    name=name.strip()
    name=name.upper()
    names.append(name)
    #print(names)
    unique_names=set(names)
    #print(unique_names)
    for search in name:

['sarnalika']

In [2]:
my_dict={
"Name": "Sarnalika Paul",
"phone":7278848743,
"email":"paulsarnalika@gmail.com",
}

In [5]:

print(my_dict["Name"])

Sarnalika Paul

In [8]:
#my_dict["Name"]="Sarnalika"
print(my_dict)

{'Name': 'Sarnalika', 'phone': 7278848743, 'email': 'paulsarnalika@gmail.com', 'address': 'Christ University'}

In [7]:
my_dict["address"] = "Christ University"
print(my_dict)

{'Name': 'Sarnalika', 'phone': 7278848743, 'email': 'paulsarnalika@gmail.com', 'address': 'Christ University'}

In [9]:
my_dict.values()

dict_values(['Sarnalika', 7278848743, 'paulsarnalika@gmail.com', 'Christ University'])

In [10]:
print(my_dict.keys())
for key in my_dict.keys():
    print(key)

dict_keys(['Name', 'phone', 'email', 'address'])
Name
phone
email
address

In [17]:
students={
    "Names":["sarnalika","debamala","ananya"],
    "Rollnumbers":[1,2,3],
}
for name in students["Names"]:
    print(name)
print(students["Names"][2])

sarnalika
debamala
ananya
ananya

In [22]:
mscdsb=[

{
    "rollnumber":23220001,
    "Name":"Adith",
    "Email":"adith.christ.in",
    "Phone":123456

},
{
    "rollnumber":23220002,
    "Name":"Abhay",
    "Email":"abhay.christ.in",
    "Phone":123457

},
{
    "rollnumber":23220003,
    "Name":"Adarsh",
    "Email":"adarsh.christ.in",
    "phone":123458
}
]

In [25]:
for student in mscdsb:
    print(student)
    for key in student.keys():
        print(student[key],end="\t")
        print()

{'rollnumber': 23220001, 'Name': 'Adith', 'Email': 'adith.christ.in', 'Phone': 123456}
23220001
Adith
adith.christ.in
123456
{'rollnumber': 23220002, 'Name': 'Abhay', 'Email': 'abhay.christ.in', 'Phone': 123457}
23220002
Abhay
abhay.christ.in
123457
{'rollnumber': 23220003, 'Name': 'Adarsh', 'Email': 'adarsh.christ.in', 'phone': 123458}
23220003
Adarsh
adarsh.christ.in
123458