In [3]:
print("hey\"i am sarnalika\"")

hey"i am sarnalika"

In [1]:
f=open("task.txt","w")
print(f.read())

f=open("task.txt","r")

In [6]:
name=input("My name is:")
email=input("mail id:")
phone=input("number:")
def savedetails(name,email,phone):
    filename=open(name + ".txt","w")
    filename.write(f"My name  is sarnalika and my email is {email} and number is {phone}")
                   
          
    filename.close()

savedetails("task","emqai","12345678")

In [6]:
a=0
while a<7:
    res=a*a
    print(a)
    #print(res)
   # print(res*a)#print(res) for square #print(res*a) for cube of the elements
    a=a+1

0
1
2
3
4
5
6

In [12]:
for i in range (1,10,1):
    if i==7:
        break
    print(i)

1
2
3
4
5
6

In [32]:
for i in range (1,10,1):
    if i== 2:
        continue
    print(i)

1
2
3
4
5
6
7
8
9

In [34]:
listex =["ABC","ABC","CDF","ABC","EFD","BCD","NBG"]
setex =set(listex)
back=list(setex)
print(listex)
print(setex)
print(back)
print(type(listex))
print(type(setex))

['ABC', 'ABC', 'CDF', 'ABC', 'EFD', 'BCD', 'NBG']
{'NBG', 'EFD', 'ABC', 'BCD', 'CDF'}
['NBG', 'EFD', 'ABC', 'BCD', 'CDF']
<class 'list'>
<class 'set'>

CREATE A LIST OF 10 NAMES THAT ARE RANDOM AND REPEATING FROM USER IDENTIFY THE UNIQUE ITEMS AND THEIR COUNT

In [35]:
names =[]
for i in range (1,10,1):
    name=input("enter the name")
    name=name.strip()
    name=name.upper()
    names.append(name)
    #print(names)
    unique_names=set(names)
    #print(unique_names)
    for search in name:

['sarnalika']

In [2]:
my_dict={
"Name": "Sarnalika Paul",
"phone":7278848743,
"email":"paulsarnalika@gmail.com",
}

In [5]:

print(my_dict["Name"])

Sarnalika Paul

In [8]:
#my_dict["Name"]="Sarnalika"
print(my_dict)

{'Name': 'Sarnalika', 'phone': 7278848743, 'email': 'paulsarnalika@gmail.com', 'address': 'Christ University'}

In [7]:
my_dict["address"] = "Christ University"
print(my_dict)

{'Name': 'Sarnalika', 'phone': 7278848743, 'email': 'paulsarnalika@gmail.com', 'address': 'Christ University'}

In [9]:
my_dict.values()

dict_values(['Sarnalika', 7278848743, 'paulsarnalika@gmail.com', 'Christ University'])

In [10]:
print(my_dict.keys())
for key in my_dict.keys():
    print(key)

dict_keys(['Name', 'phone', 'email', 'address'])
Name
phone
email
address

In [17]:
students={
    "Names":["sarnalika","debamala","ananya"],
    "Rollnumbers":[1,2,3],
}
for name in students["Names"]:
    print(name)
print(students["Names"][2])

sarnalika
debamala
ananya
ananya

In [14]:
mscdsb=[

{
    "rollnumber":23220001,
    "Name":"Adith",
    "Email":"adith.christ.in",
    "Phone":123456

},
{
    "rollnumber":23220002,
    "Name":"Abhay",
    "Email":"abhay.christ.in",
    "Phone":123457

},
{
    "rollnumber":23220003,
    "Name":"Adarsh",
    "Email":"adarsh.christ.in",
    "phone":123458
}
]

In [18]:
for student in mscdsb:
    print(student)
    for key in student.keys():
        print(student[key])
        print()

{'rollnumber': 23220001, 'Name': 'Adith', 'Email': 'adith.christ.in', 'Phone': 123456}
23220001

Adith

adith.christ.in

123456

{'rollnumber': 23220002, 'Name': 'Abhay', 'Email': 'abhay.christ.in', 'Phone': 123457}
23220002

Abhay

abhay.christ.in

123457

{'rollnumber': 23220003, 'Name': 'Adarsh', 'Email': 'adarsh.christ.in', 'phone': 123458}
23220003

Adarsh

adarsh.christ.in

123458

In [3]:
listNames=[]#empty list to store the names
#store a name to list
def storeName(name):
    name=name.strip().title()
    if name in listNames:
        return False
    else:
        listNames.append(name)
        return True
    #list all names
    def listNames():
        print("_"*30)
        #function to search for a name
        def searchNames(name):
            name=name.strip().title()
            flag=False
            for item in listnames:
                if name== item:
                    flag=True
                    print("name is present in the list")
                    break
                if flag = True:
                   print ("name exists in the list")
                else:
                    print()



                
    
    while True:
    print("Menu options")
    print("*"*30)
    print("1.enter a name")
    print("2.search a name")
    print("3.list all names")
    print("exit")
    choice=int(input("enter your choice"))
    if choice==1:
                userinp=input("enter a name")
                retval=storeName(userinp)
                if retvalue==True:
                 print("name added successfully")
                else:
                  print("name exists in the list")
         elif choice==3:
                printNames()
         elif choice==4
                    choice==4:
                    exit()
                    else:
                    print("Invalid option,please choose correct one")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 46)

In [19]:
class resturant:
    def __init__(self,itemname,qty):
        self.itemname =itemname
        self.qty =qty
        self.menuitems ={
            "rice":30,
            "chicken":200,
            "dal":40,
            "roti":10
        }
    def totalcost(self):
        print("totalcost")
        print("item:",self.itemname)
        print("quantity:",self.qty)
        total = self.qty * self.menuitems[self.itemname]
        print("total:",total)

    
    
obj=resturant("rice",5)
obj1=resturant("dal",4)
obj.totalcost()
obj1.totalcost()

totalcost
item: rice
quantity: 5
total: 150
totalcost
item: dal
quantity: 4
total: 160

In [20]:
class expensetracker:
    def _init__(self):
        self.expensedict ={
            "income":[],
            "expense":[],
        }
        def store_tracsactions(self,type,amt,category,date,details):
            trans ={
                "amount":amt,
                "category":category,
                "date":date,
                "details":details,
            }
        if type=="income":
            self.expensedict['income'].append(trans)
        else:
            self.expensedict['expense'].append(trans)

        pass
    def store_transactions(self):
        pass
    def view_transaction(self):
        pass
    def calculate_transaction(self):
        pass

In [1]:
class expenseTracker:
    def __init__(self):
        self.expenseDict = {
            "income": [],
            "expense": [],
        }

    def store_transactions(self, type, amt, category, date, details):
        trans = {
            "Amount": amt,
            "Category": category,
            "Date": date,
            "Details": details,
        }
        if type == "income":
            self.expenseDict['income'].append(trans)
        else:
            self.expenseDict['expense'].append(trans)

    def view_transactions(self):
        print("Your Income:")
        for item in self.expenseDict['income']:
            print(item)
        print("Your Expenses:")
        for item in self.expenseDict['expense']:
            print(item)

    def calculate_transactions(self):
        total_income = 0
        for item in self.expenseDict['income']:
            total_income += item["Amount"]
        print("Total Income\t:\t", total_income)

        total_expense = 0
        for item in self.expenseDict['expense']:
            total_expense += item["Amount"]
        print("Total Expenses\t:\t", total_expense)

# define a menu that will let users to enter expense, view expenses
# or income, get totals in each and exit from the program


def collectInput():
    amt = int(input("Enter the amount: "))
    category = input("Enter Category: ")
    date = input("Enter Date (DD/MM/YYYY): ")
    details = input("Enter description: ")
    return amt, category, date, details


myexpense = expenseTracker()

while True:
    print("...MY EXPENSE TRACKER...")
    print("1. Record Income")
    print("2. Record Expense")
    print("3. View Records")
    print("4. View My Spendings")
    print("5. Exit")

    choice = int(input("Enter your choice: ").strip())

    if choice == 1:
        print("Enter the details of income")
        amt, category, date, details = collectInput()
        myexpense.store_transactions("income", amt, category, date, details)
    elif choice == 2:
        print("Enter the details of expense")
        amt, category, date, details = collectInput()
        myexpense.store_transactions("expense", amt, category, date, details)
    elif choice == 3:
        myexpense.view_transactions()
    elif choice == 4:
        myexpense.calculate_transactions()
    elif choice == 5:
        exit()
    else:
        print("In valid choice")

...MY EXPENSE TRACKER...
1. Record Income
2. Record Expense
3. View Records
4. View My Spendings
5. Exit
Enter the details of expense
...MY EXPENSE TRACKER...
1. Record Income
2. Record Expense
3. View Records
4. View My Spendings
5. Exit
...MY EXPENSE TRACKER...
1. Record Income
2. Record Expense
3. View Records
4. View My Spendings
5. Exit
...MY EXPENSE TRACKER...
1. Record Income
2. Record Expense
3. View Records
4. View My Spendings
5. Exit
Enter the details of expense
...MY EXPENSE TRACKER...
1. Record Income
2. Record Expense
3. View Records
4. View My Spendings
5. Exit

ValueError: invalid literal for int() with base 10: ''

:

In [1]:
class sportMart:
    def __init__(self):
        self.details = {"product_details": [], "order_details": []}
        for i in open("D:\MscDSB-MSD171-23122130-SarnalikaPaul\sportmart\orders.csv", "r").readlines():  
            data0 = i.strip().split(',')
            
            if data0[2] != "Quantity":
                product_details = {
                    "Product ID": int(data0[0]),
                    "Product Name": data0[1],
                    "Quantity": int(data0[2]),
                    "Price": eval(data0[3])
                }
                self.details["product_details"].append(product_details)

    def order_details(self):
        for j in open("D:\MscDSB-MSD171-23122130-SarnalikaPaul\sportmart\PRODUCTS.csv", "r").readlines():
            data1 = j.strip().split(',')
            if data1[2] != "Quantity":#remove the headers
                order_details = {     
                    "Order ID": int(data1[0]),
                    "Product ID": int(data1[1]),
                    "Quantity": int(data1[2]),
                    "Order Date": data1[3]
                }
                self.details["order_details"].append(order_details)

order = sportMart()
order.product_details()
order.order_details()
                    
print(order.details["product_details"])
print(order.details["order_details"])

ValueError: invalid literal for int() with base 10: 'Od001'

In [5]:
#import numpy as np
import pandas as pd

data=pd.read_csv("Iris_Data.csv")
data.head(5)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa